body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

h1{
   text-align: center;
   animation-name: mianimacion;
   animation-duration: 1s;
}

-webkit-@keyframes mianimacion {
   from{
      transform: rotate(0);
      }
   25%{
      transform: rotateZ(-5deg);
   }
   50%{
      transform: rotateZ(1deg);
   }
   75%{
      transform: rotateZ(5deg);
   }
   to{
      transform: rotate(0);
   }
}

.container{
   width: 900px;
   background: lightblue;
   margin: auto;
   padding: 1em;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.item{
   position: relative;
   color: black;
   width: calc((100% - 5px) / 2);
   padding-right: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}


.container .item img{
   width: 90%;
   height: 90%;
   border: 2px solid;
}

.container .item h2{
   padding-top:2%;
   margin: 0;
   font-size: 1em;
}

@media screen and (max-width: 480px){

   .item{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin:
   }

   .item img{
      width: 100%;
      display: flex;
      flex-direction: column;
   }
   }
